.salad {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

img {
  display: block;
  width: 50%;
  margin-bottom: 20px;
}

p {
  text-align: left;
  margin-left: 30%;
}
